# Config for coverage.py
[run]
branch = True

[paths]
  source = simple_steganography/

[coverage:run]
  omit = test/*
    **/__init__.py
    simple_steganography./types/*

[xml]
  output = coverage/coverage.xml

[html]
  directory = coverage/
