env/
env/*
__pycache__/
__pychace__/*
*.png
*.webp
*.jpg
*.jpeg
htmlcov/*
.coverage
coverage.xml
coverage/*
coverage/
dist/
dist/*
build/
build/*
/simple_steganography.egg-info
/simple_steganography.egg-info/*
.eggs/
.eggs/*
*.pyc
